## Filtrado por Contenido

In [1]:
import numpy as np
import pandas as pd
from collections import OrderedDict

In [2]:
df_movies = pd.read_csv("ml-latest-small/movies.csv",sep=",")

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df_movies = pd.concat([df_movies, df_movies.genres.str.get_dummies(sep='|')], axis=1)

In [5]:
df_movies.head()

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
categorias = df_movies.columns[3:]
df_movies.loc[0]

movieId                                                         1
title                                            Toy Story (1995)
genres                Adventure|Animation|Children|Comedy|Fantasy
(no genres listed)                                              0
Action                                                          0
Adventure                                                       1
Animation                                                       1
Children                                                        1
Comedy                                                          1
Crime                                                           0
Documentary                                                     0
Drama                                                           0
Fantasy                                                         1
Film-Noir                                                       0
Horror                                                          0
IMAX                                                            0
Musical                                                         0
Mystery                                                         0
Romance                                                         0
Sci-Fi                                                          0
Thriller                                                        0
War                                                             0
Western                                                         0
Name: 0, dtype: object

In [15]:
user_preferences = OrderedDict(zip(categorias, []))

user_preferences['Action'] = 1
user_preferences['Adventure'] = 1
user_preferences['Animation'] = 1
user_preferences["Children's"] = 1
user_preferences["Comedy"] = 1
user_preferences['Crime'] = 5
user_preferences['Documentary'] = 1
user_preferences['Drama'] = 1
user_preferences['Fantasy'] = 1
user_preferences['Film-Noir'] = 1
user_preferences['Horror'] = 5
user_preferences['Musical'] = 1
user_preferences['Mystery'] = 5
user_preferences['Romance'] = 1
user_preferences['Sci-Fi'] = 1
user_preferences['War'] = 1
user_preferences['Thriller'] = 5
user_preferences['Western'] = 1

In [16]:
def dot_product(vector_1, vector_2):
    return sum([ i*j for i,j in zip(vector_1, vector_2)])

def get_movie_score(movie_features, user_preferences):
    return dot_product(movie_features, user_preferences)

In [20]:
toy_story_features = df_movies.loc[0][categorias]
toy_story_features

(no genres listed)    0
Action                0
Adventure             1
Animation             1
Children              1
Comedy                1
Crime                 0
Documentary           0
Drama                 0
Fantasy               1
Film-Noir             0
Horror                0
IMAX                  0
Musical               0
Mystery               0
Romance               0
Sci-Fi                0
Thriller              0
War                   0
Western               0
Name: 0, dtype: object

In [21]:
toy_story_user_predicted_score = dot_product(toy_story_features, user_preferences.values())
toy_story_user_predicted_score

9

In [22]:
def get_movie_recommendations(user_preferences, n_recommendations):
    #metemos una columna al dataset movies_df con la puntuacion calculada para el usuario
    df_movies['score'] = df_movies[categorias].apply(get_movie_score, 
                                                           args=([user_preferences.values()]), axis=1)
    return df_movies.sort_values(by=['score'], ascending=False)['title'][:n_recommendations]

get_movie_recommendations(user_preferences, 11)

7550                               Mars Needs Moms (2011)
5819                                        Robots (2005)
7455                                      Megamind (2010)
7441                                        Rubber (2010)
7820              Journey 2: The Mysterious Island (2012)
7883         Men in Black III (M.III.B.) (M.I.B.³) (2012)
5556    Patlabor: The Movie (Kidô keisatsu patorebâ: T...
6462    Aqua Teen Hunger Force Colon Movie Film for Th...
7372                                     Inception (2010)
4631                                 Interstate 60 (2002)
7467                                       Tangled (2010)
Name: title, dtype: object