## Punto 3
1. Tomar datos de un archivo csv, de json y una db SQL.
   - De los tres DataFrames realizar las siguientes operaciones y mostrar sus resultados: Join, Merge, Concat, Append, con una clave a elección.
   - Guardar en una db SQL, la intersección de los datos obtenidos en el punto anterior

### Conjuntos de datos a utilizar
- Paises (Extraido de la Base de datos "hinchas")
- Clubes (Extraido de una archivo en formato JSON)
- Hinchas Jovenes (Extraido de un archivo con formato CSV)
- Hinchas Viejos (Extraido de una archivo con formato CSV)

Realizamos los imports necesarios:

In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table, Column, Integer, String, ForeignKey

Creamos la base de datos y creamos la Tabla 'Pais':

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')
connection = engine.connect()
connection.execute("commit")
connection.execute("create database hinchas")
connection.close()
engine.dispose()
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hinchas')
connection = engine.connect()

metadata = MetaData()

paises = Table('pais', metadata,
  Column('id', Integer, primary_key=True),
  Column('nombre', String)
)
metadata.create_all(engine)
connection.close()
engine.dispose()

**Nota:** Para llenar la tabla pais se adjunta un archivo .sql, debe correrlo conectado a la base de datos recien creada, puede usar PgAdmim.

Nos conectamos con la base para sacar los datos de los paises:

In [4]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hinchas')
connection = engine.connect()
consulta = 'Select * from pais'
df_paises = pd.read_sql_query(consulta,connection)
print(df_paises)
connection.close()
engine.dispose()

    id         nombre
0    1          China
1    2         Brazil
2    3  United States
3    4           Peru
4    5       Thailand
5    6         Monaco
6    7       Colombia
7    8      Venezuela
8    9       Portugal
9   10        Croatia
10  11    Philippines
11  12       Maldives
12  13      Indonesia
13  14       Botswana
14  15         Russia
15  16          Japan
16  17         Poland
17  18       Ethiopia
18  19          Syria
19  20           Iran
20  21           Cuba
21  22       Mongolia
22  23     Bangladesh
23  24         France
24  25        Ecuador

Cargamos los datos de los clubes en el JSON a una DataFrame:

In [5]:
path = 'clubes.json'
df_clubes = pd.read_json(path,orient='records')
print(df_clubes)

    id             nombre
0    1       Boca Juniors
1    2        River Plate
2    3             Gremio
3    4          Sao Pablo
4    5            Peñarol
5    6           Nacional
6    7          Liverpool
7    8  Manchester United
8    9       Barcelona FC
9   10        Real Madrid
10  11           Juventus
11  12             Napoli
12  13      Bayern Munich
13  14  Borussia Dortmund
14  15      Independiente
15  16    Atletico Madrid
16  17            Chelsea
17  18              Inter
18  19        Corinthians
19  20              Milan

Cargamos los datos de los CSV:

In [6]:
#Nombre del primer CSV
path_csv_hinchas_jovenes = 'hinchas_jovenes.csv'

#Se separa la información del CSV entre los datos personales y los datos del pais y del club del hincha
df_hinchas_jovenes_datos_personales = pd.read_csv(path_csv_hinchas_jovenes,
                                                  usecols=['id','nombre','apellido','edad'])
df_hinchas_jovenes_otros_datos = pd.read_csv(path_csv_hinchas_jovenes,
                                             usecols=['pais_id','equipo_id'])

#Nombre del primer CSV
path_csv_hinchas_viejos = 'hinchas_viejos.csv'

#Se separa la información del CSV entre los datos personales y los datos del pais y del club del hincha
df_hinchas_viejos_datos_personales = pd.read_csv(path_csv_hinchas_viejos,
                                                  usecols=['id','nombre','apellido','edad'])
df_hinchas_viejos_otros_datos = pd.read_csv(path_csv_hinchas_viejos,
                                             usecols=['pais_id','equipo_id'])

Procedemos a realizar la operación "Concat" vertical para juntar los datos personales de los hinchas con los demas datos (se utiliza el index de ambos df para realizar la unión).

In [7]:
df_hinchas_jovenes = pd.concat([df_hinchas_jovenes_datos_personales,df_hinchas_jovenes_otros_datos],axis=1)
df_hinchas_viejos = pd.concat([df_hinchas_viejos_datos_personales,df_hinchas_viejos_otros_datos],axis=1)

Ahora para poder unir los dos tipos de hinchas utilizaremos la operación "append"

In [8]:
df_hinchas = df_hinchas_jovenes.append(df_hinchas_viejos, ignore_index=True)
print(df_hinchas)

      id       nombre      apellido  edad  equipo_id  pais_id
0      1         Carr        Cordey    32          6        1
1      2      Vanessa         Oakes    23         14        6
2      3         Bibi   Matiashvili    32          6        3
3      4    Franciska     Harbottle    21         16       17
4      5        Maura        Gleave    18         17       20
5      6     Veronike         Mably    25          5        6
6      7   Michaeline       Louedey    23          4        1
7      8       Trudey      Lockhart    28          7       13
8      9      Honoria         Moses    27          5       17
9     10     Bellanca         Robun    34          2       11
10    11      Candida      Trassler    17         18       11
11    12       Dugald   O'Dulchonta    22         17       19
12    13      Klemens        Quemby    11         18       11
13    14  Christoffer       Caseley    22         17       11
14    15      Aeriell       Harbour    21          5       16
15    16        Arlen         Cosby    33          8       23
16    17    Zachariah         Savil    32          6       21
17    18       Sabine   Scardifeild    26          2       25
18    19      Ninetta       Fidgeon    23         15       12
19    20       Tressa      Drissell    11         15       20
20    21       Tuckie     Penvarden    18         19       21
21    22       Leslie       Brammer    29          4       19
22    23   Philippine      Seagrave    16          4       15
23    24        Sibyl     Blakeston    28         10       13
24    25         Esme     Brakewell    31          2       17
25    26     Cordelie       Willden    36         12        1
26    27        Danya    MacCurtain    34         10       16
27    28       Janith       Meriott    10          4        8
28    29      Christy         Moral    24         10       23
29    30         Shir    Pitkaithly    34         13       22
..   ...          ...           ...   ...        ...      ...
170  171       Lionel     Masterson    66         13        6
171  172         Inge      Pickwell    54         19       20
172  173       Rutter        Nowill    55         17       11
173  174    Claudette       Ughelli    63         20       21
174  175      Minetta      Burchall    44          7       20
175  176        Sunny         Matej    62          3        9
176  177     Ephrayim      McTavish    62          4        2
177  178         Jodi         Joint    45          3       13
178  179        Zenia          Gerb    48          8       12
179  180       Rickey         Talks    68         17        8
180  181       Kristy     Ferrandez    41         20        6
181  182    Margareta       Morgans    43          5       13
182  183     Mohandas       Godsell    47          5       15
183  184          Nat      Dunridge    59         15       20
184  185       Giusto         Quail    46         19        7
185  186      Malinde         Blaze    53          2        1
186  187        Hobie       Beswick    61          7        6
187  188       Fayina        Duffin    46          1        8
188  189      Mildrid      Martinat    64          5       14
189  190      Tiertza        Botler    62          5       13
190  191    Ferdinand      Perrelle    69          2       15
191  192       Ernest           Red    69         10       17
192  193      Viviana         Eakin    57          1       20
193  194         Care       Lewknor    47         16        5
194  195       Frazer        Kirvin    61         18       25
195  196       Manolo      Antonias    69         11        4
196  197        North     MacAskill    47          5        5
197  198       Elysha  Wolstenholme    63         18       17
198  199         Kass       Coggell    59         18       11
199  200      Olivier     Graysmark    43         18       17

[200 rows x 6 columns]

Una vez que tenemos los hinchas unidos en un df procedemos a realizar un left join para obtener sus paises correspondientes.

In [9]:
df_merge = pd.merge(df_hinchas,df_paises, how='left', left_on='pais_id',right_on='id')

#Re nombramos las columnas para que se ajusten a los nombres deseados
df_merge.rename(columns={'id_x':'id','nombre_x':'nombre','nombre_y':'pais'},inplace=True)

#Seleccionamos las columnas necesarias.
df_hinchas_con_paises = df_merge[['id','nombre','apellido','edad','equipo_id','pais']]
print(df_hinchas_con_paises)

      id       nombre      apellido  edad  equipo_id           pais
0      1         Carr        Cordey    32          6          China
1      2      Vanessa         Oakes    23         14         Monaco
2      3         Bibi   Matiashvili    32          6  United States
3      4    Franciska     Harbottle    21         16         Poland
4      5        Maura        Gleave    18         17           Iran
5      6     Veronike         Mably    25          5         Monaco
6      7   Michaeline       Louedey    23          4          China
7      8       Trudey      Lockhart    28          7      Indonesia
8      9      Honoria         Moses    27          5         Poland
9     10     Bellanca         Robun    34          2    Philippines
10    11      Candida      Trassler    17         18    Philippines
11    12       Dugald   O'Dulchonta    22         17          Syria
12    13      Klemens        Quemby    11         18    Philippines
13    14  Christoffer       Caseley    22         17    Philippines
14    15      Aeriell       Harbour    21          5          Japan
15    16        Arlen         Cosby    33          8     Bangladesh
16    17    Zachariah         Savil    32          6           Cuba
17    18       Sabine   Scardifeild    26          2        Ecuador
18    19      Ninetta       Fidgeon    23         15       Maldives
19    20       Tressa      Drissell    11         15           Iran
20    21       Tuckie     Penvarden    18         19           Cuba
21    22       Leslie       Brammer    29          4          Syria
22    23   Philippine      Seagrave    16          4         Russia
23    24        Sibyl     Blakeston    28         10      Indonesia
24    25         Esme     Brakewell    31          2         Poland
25    26     Cordelie       Willden    36         12          China
26    27        Danya    MacCurtain    34         10          Japan
27    28       Janith       Meriott    10          4      Venezuela
28    29      Christy         Moral    24         10     Bangladesh
29    30         Shir    Pitkaithly    34         13       Mongolia
..   ...          ...           ...   ...        ...            ...
170  171       Lionel     Masterson    66         13         Monaco
171  172         Inge      Pickwell    54         19           Iran
172  173       Rutter        Nowill    55         17    Philippines
173  174    Claudette       Ughelli    63         20           Cuba
174  175      Minetta      Burchall    44          7           Iran
175  176        Sunny         Matej    62          3       Portugal
176  177     Ephrayim      McTavish    62          4         Brazil
177  178         Jodi         Joint    45          3      Indonesia
178  179        Zenia          Gerb    48          8       Maldives
179  180       Rickey         Talks    68         17      Venezuela
180  181       Kristy     Ferrandez    41         20         Monaco
181  182    Margareta       Morgans    43          5      Indonesia
182  183     Mohandas       Godsell    47          5         Russia
183  184          Nat      Dunridge    59         15           Iran
184  185       Giusto         Quail    46         19       Colombia
185  186      Malinde         Blaze    53          2          China
186  187        Hobie       Beswick    61          7         Monaco
187  188       Fayina        Duffin    46          1      Venezuela
188  189      Mildrid      Martinat    64          5       Botswana
189  190      Tiertza        Botler    62          5      Indonesia
190  191    Ferdinand      Perrelle    69          2         Russia
191  192       Ernest           Red    69         10         Poland
192  193      Viviana         Eakin    57          1           Iran
193  194         Care       Lewknor    47         16       Thailand
194  195       Frazer        Kirvin    61         18        Ecuador
195  196       Manolo      Antonias    69         11           Peru
196  197        North     MacAskill    47          5       Thailand
197  198       Elysha  Wolstenholme    63         18         Poland
198  199         Kass       Coggell    59         18    Philippines
199  200      Olivier     Graysmark    43         18         Poland

[200 rows x 6 columns]

Ahora que sabemos de que país es cada hincha, vamos a ver por que club hinchan, esto se logra con un join con el df_clubes

In [10]:
df_join = df_hinchas_con_paises.join(df_clubes.set_index('id'),
                                     on='equipo_id',lsuffix='_hincha',rsuffix='_club')

#Re nombramos las columnas para que se ajusten a los nombres deseados
df_join.rename(columns={'id_x':'id','nombre_hincha':'nombre','nombre_club':'equipo'},inplace=True)

#Seleccionamos las columnas necesarias.
df_hinchas_completo = df_join[['id','nombre','apellido','edad','equipo','pais']]
print(df_hinchas_completo)

      id       nombre      apellido  edad             equipo           pais
0      1         Carr        Cordey    32           Nacional          China
1      2      Vanessa         Oakes    23  Borussia Dortmund         Monaco
2      3         Bibi   Matiashvili    32           Nacional  United States
3      4    Franciska     Harbottle    21    Atletico Madrid         Poland
4      5        Maura        Gleave    18            Chelsea           Iran
5      6     Veronike         Mably    25            Peñarol         Monaco
6      7   Michaeline       Louedey    23          Sao Pablo          China
7      8       Trudey      Lockhart    28          Liverpool      Indonesia
8      9      Honoria         Moses    27            Peñarol         Poland
9     10     Bellanca         Robun    34        River Plate    Philippines
10    11      Candida      Trassler    17              Inter    Philippines
11    12       Dugald   O'Dulchonta    22            Chelsea          Syria
12    13      Klemens        Quemby    11              Inter    Philippines
13    14  Christoffer       Caseley    22            Chelsea    Philippines
14    15      Aeriell       Harbour    21            Peñarol          Japan
15    16        Arlen         Cosby    33  Manchester United     Bangladesh
16    17    Zachariah         Savil    32           Nacional           Cuba
17    18       Sabine   Scardifeild    26        River Plate        Ecuador
18    19      Ninetta       Fidgeon    23      Independiente       Maldives
19    20       Tressa      Drissell    11      Independiente           Iran
20    21       Tuckie     Penvarden    18        Corinthians           Cuba
21    22       Leslie       Brammer    29          Sao Pablo          Syria
22    23   Philippine      Seagrave    16          Sao Pablo         Russia
23    24        Sibyl     Blakeston    28        Real Madrid      Indonesia
24    25         Esme     Brakewell    31        River Plate         Poland
25    26     Cordelie       Willden    36             Napoli          China
26    27        Danya    MacCurtain    34        Real Madrid          Japan
27    28       Janith       Meriott    10          Sao Pablo      Venezuela
28    29      Christy         Moral    24        Real Madrid     Bangladesh
29    30         Shir    Pitkaithly    34      Bayern Munich       Mongolia
..   ...          ...           ...   ...                ...            ...
170  171       Lionel     Masterson    66      Bayern Munich         Monaco
171  172         Inge      Pickwell    54        Corinthians           Iran
172  173       Rutter        Nowill    55            Chelsea    Philippines
173  174    Claudette       Ughelli    63              Milan           Cuba
174  175      Minetta      Burchall    44          Liverpool           Iran
175  176        Sunny         Matej    62             Gremio       Portugal
176  177     Ephrayim      McTavish    62          Sao Pablo         Brazil
177  178         Jodi         Joint    45             Gremio      Indonesia
178  179        Zenia          Gerb    48  Manchester United       Maldives
179  180       Rickey         Talks    68            Chelsea      Venezuela
180  181       Kristy     Ferrandez    41              Milan         Monaco
181  182    Margareta       Morgans    43            Peñarol      Indonesia
182  183     Mohandas       Godsell    47            Peñarol         Russia
183  184          Nat      Dunridge    59      Independiente           Iran
184  185       Giusto         Quail    46        Corinthians       Colombia
185  186      Malinde         Blaze    53        River Plate          China
186  187        Hobie       Beswick    61          Liverpool         Monaco
187  188       Fayina        Duffin    46       Boca Juniors      Venezuela
188  189      Mildrid      Martinat    64            Peñarol       Botswana
189  190      Tiertza        Botler    62            Peñarol      Indonesia
190  191    Ferdinand      Perrelle    69        River Plate         Russia
191  192       Ernest           Red    69        Real Madrid         Poland
192  193      Viviana         Eakin    57       Boca Juniors           Iran
193  194         Care       Lewknor    47    Atletico Madrid       Thailand
194  195       Frazer        Kirvin    61              Inter        Ecuador
195  196       Manolo      Antonias    69           Juventus           Peru
196  197        North     MacAskill    47            Peñarol       Thailand
197  198       Elysha  Wolstenholme    63              Inter         Poland
198  199         Kass       Coggell    59              Inter    Philippines
199  200      Olivier     Graysmark    43              Inter         Poland

[200 rows x 6 columns]

Ahora pasaremos todos los resultados a la base de datos 'hinchas':

In [12]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hinchas')
connection = engine.connect()

metadata = MetaData()

clubes = Table('club', metadata,
  Column('id', Integer, primary_key=True),
  Column('nombre', String)
)

hinchas_jovenes = Table('hincha_joven', metadata,
  Column('id', Integer, primary_key=True),
  Column('nombre', String),
  Column('apellido', String),             
  Column('edad', Integer),
  Column('equipo_id', Integer,ForeignKey(clubes.c.id)),             
  Column('pais_id',Integer,ForeignKey(paises.c.id))             
)

hinchas_viejos = Table('hincha_viejo', metadata,
  Column('id', Integer, primary_key=True),
  Column('nombre', String),
  Column('apellido', String),             
  Column('edad', Integer),          
  Column('equipo_id', Integer,ForeignKey(clubes.c.id)),             
  Column('pais_id',Integer,ForeignKey(paises.c.id))             
)

hinchas = Table('hincha', metadata,
  Column('id', Integer, primary_key=True),
  Column('nombre', String),
  Column('apellido', String),             
  Column('edad', Integer),
  Column('equipo_id', Integer,ForeignKey(clubes.c.id)),             
  Column('pais_id',Integer,ForeignKey(paises.c.id))             
)

hinchas_con_paises = Table('hincha_con_pais', metadata,
  Column('id', Integer, primary_key=True),
  Column('nombre', String),
  Column('apellido', String),             
  Column('edad', Integer),
  Column('equipo_id', Integer,ForeignKey(clubes.c.id)),             
  Column('pais',String)             
)

hinchas_completo = Table('hincha_completo', metadata,
  Column('id', Integer, primary_key=True),
  Column('nombre', String),
  Column('apellido', String),             
  Column('edad', Integer),
  Column('equipo', String),             
  Column('pais',String)             
)

metadata.create_all(engine)

#Una vez creadas las tablas, pasamos a llenarlas usando los df utilizados
df_clubes.to_sql(name='club',con=engine,if_exists='append',index=False)

df_hinchas_jovenes.to_sql(name='hincha_joven',con=engine,if_exists='append',index=False)

df_hinchas_viejos.to_sql(name='hincha_viejo',con=engine,if_exists='append',index=False)

df_hinchas.to_sql(name='hincha',con=engine,if_exists='append',index=False)

df_hinchas_con_paises.to_sql(name='hincha_con_pais',con=engine,if_exists='append',index=False)

df_hinchas_completo.to_sql(name='hincha_completo',con=engine,if_exists='append',index=False)

connection.close()
engine.dispose()